<div class='panel panel-default'>
    <div class='panel-body'>
        <h4>
            <%= fa_icon('truck') %>&nbsp;&nbsp;MODIFICA TIPOLOGIA MEZZO
            <span class='pull-right'>
                <%= link_to fa_icon('arrow-left'), transport_types_path, class: 'btn btn-default btn-sm' %>
                &nbsp;
                <%= link_to fa_icon('eye'), @transport_type, class: 'btn btn-default btn-sm', id: 'text-info' %>
            </span>
        </h4>
        <hr>
        <%= render 'form', transport_type: @transport_type %>
    </div>
</div>