<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <span class='text-info'><%= fa_icon('map-marker') %></span>&nbsp;&nbsp;NUOVO LUOGO MISSIONE
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left'), mission_places_path, class: 'btn btn-default btn-sm' %>
      </span>
    </h4>
    <hr>
    <%= render 'form', mission_place: @mission_place %>
  </div>
</div>
