<div class="card bg-light border-light shadow mt-3">
  <div class="card-header bg-light">
    <span class="float-start">
      <%= image_tag("reason/reason-logo.svg", class: "img-fluid", alt: "reason-logo.svg") %>
    </span>
    <span class="float-end">
      <%= link_to new_reason_path, class: "btn btn-outline-primary" do %>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-file-pen"></i>
        &nbsp;
        Nuovo Motivo Missione
      <% end %>
    </span>
  </div>
  <div class="card-body">
    <div id="reasons">
      <table class="table table-hover bg-light">
        <thead>
          <tr>
            <th class="text-primary bg-light">Motivo Missione</th>
            <th class="text-primary bg-light">Posizione</th>
            <th colspan=2 class="text-primary bg-light"></th>
          </tr>
        </thead>
        <tbody>
          <% @reasons.each do |reason| %>
            <tr>
              <%= render reason %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
