<br>
<br>
<br>
<div id='text-centered'>
    <%= inline_svg('cesi_logo.svg', size: '96px * 96px', preserve_aspect_ratio: 'xMaxYMax meet') %>
    &nbsp;
    <%= inline_svg('davosky_logo.svg', size: '240px * 96px', preserve_aspect_ratio: 'xMaxYMax meet') %>
</div>
<hr>
<div id='text-centered'>
    <%= link_to inline_svg('sidebar_logo.svg', size: '128px * 96px', preserve_aspect_ratio: 'xMaxYMax meet'), root_path %>
    <br>
    <h5>
        applicativo gestionale web per rimborsi spese
    </h5>
    <br>
</div>
<div class="col col-md-6 col-md-offset-3">
    <dl class='dl-horizontal'>
        <dt>Analisi e Programmazione:</dt>
        <dd>Davo Davosky</dd>
        <dt>E-Mail</dt>
        <dd>davodavosky@gmail.com</dd>
        <dt></dt>
        <dd>&copy;&nbsp;The davosky Connection 2018</dd>
    </dl>
</div>