<br>
<br>
<div id='text-centered'>
  <%= link_to inline_svg('sidebar_logo.svg', size: '256px * 192px', preserve_aspect_ratio: 'xMaxYMax meet'), root_path %>
  <p class='text-primary'>
    Gestionale Web creato con tecnologia
    <a href='https://rubyonrails.org/' title='Ruby On Rails' target='new'>Ruby On Rails</a>
    <br>
    Versione:
    <strong class='text-primary'>1.1.2</strong>
  </p>
  <div>
    <small>
      Sono state usate alcune icone da:
      <a href='https://www.flaticon.com/authors/freepik' title='Freepik' target='new'>Freepik</a>
      &nbsp;da&nbsp;
      <a href='https://www.flaticon.com/' title='Flaticon' target='new'>www.flaticon.com</a>
      <br>
      Sono stati usati alcuni font da:
      <a href='https://fontawesome.com' title='Font Awesome' target='new'>Font Awesome</a>
    </small>
  </div>

  <h6 class='text-info'>
    Creato da:
  </h6>
  <h5 class='text-primary'>
    Davo Davosky
  </h5>
  <p>
    <small>Sysadmin & Programmatore RubyOnRails</small>
  </p>
  <br>
  <p>
    <%= mail_to 'davodavosky@gmail.com', title: 'Scrivi a Davo :-)' do %>
    <%= inline_svg('davosky_logo_2019.svg', size: '256px * 72px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  <% end %>
</p>
<h6>&copy;&nbsp;The davosky Connection 2018</h6>
</div>
