<div class="row m-5 p-5">
  <div class="col-6 t-5 p-5">
    <%= image_tag("content/main-logo.svg", class: "img-fluid", alt: "main-logo.svg") %>
    <br/>
    &emsp;
    <h3 class="text-primary">
      <strong>Trantor Foundation</strong>
    </h3>
    <span class="text-primary">
      Applicazione gestionale web per Rimborsi Spese Buoni Pasto ed Assenze
    </span>
    <br/>
    &emsp;
    <br/>
    <h4 class="text-primary">
      Versione 3.1.0
    </h4>
  </div>
  <div class="col-6 t-5 p-5">
    <%= image_tag("content/davosky-logo.svg", class: "img-fluid", alt: "davosky-logo.svg") %>
    <br/>
    &emsp;
    <h3 class="text-primary">
      The Davosky Connection <br/>
    </h3>
    <span class="text-primary">
      by
    </span>
    <br/>
    <h4 class="text-primary">
      <a href="mailto:davodavosky@gmail.com">
        Davo Davodsky
      </a>
    </h4>
  </div>
</div>