<div class='panel panel-default'>
    <div class='panel-body'>
        <h4>
            <i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;MODIFICA TIPOLOGIA PAGAMENTO
            <span class='pull-right'>
                <%= link_to fa_icon('arrow-left'), payment_typologies_path, class: 'btn btn-default btn-sm' %>
                &nbsp;
                <%= link_to fa_icon('eye'), @payment_typology, class: 'btn btn-default btn-sm', id: 'text-info' %>
            </span>
        </h4>
        <hr>
        <%= render 'form', payment_typology: @payment_typology %>
    </div>
</div>