<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <span class='text-info'><i class="far fa-money-bill-alt"></i></span>&nbsp;&nbsp;TIPOLOGIA PAGAMENTO
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left'), payment_typologies_path, class: 'btn btn-default btn-sm' %>
        &nbsp;
        <%= link_to fa_icon('pencil'), edit_payment_typology_path(@payment_typology), class: 'btn btn-default btn-sm', id: 'text-warning' %>
      </span>
    </h4>
    <hr>
    <dl class='dl-horizontal'>
      <dt>
        POSIZIONE
      </dt>
      <dd>
        <%= @payment_typology.position %>
      </dd>
      <dt>TIPOLOGIA PAGAMENTO:</dt>
      <dd>
        <%= @payment_typology.name %>
      </dd>
    </dl>
  </div>
</div>
