<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <span class='text-info'><i class="fas fa-gas-pump"></i></span>&nbsp;&nbsp;MODIFICA GESTORE
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left'), service_stations_path, class: 'btn btn-default btn-sm' %>
        &nbsp;
        <%= link_to fa_icon('eye'), @service_station, class: 'btn btn-default btn-sm', id: 'text-info' %>
      </span>
    </h4>
    <hr>
    <%= render 'form', service_station: @service_station %>
  </div>
</div>
