<div class='panel panel-default'>
  <div class='panel-body'>
    <h4>
      <span class='text-info'><%= fa_icon('car') %></span>&nbsp;&nbsp;MODIFICA MEZZO
      <span class='pull-right'>
        <%= link_to fa_icon('arrow-left'), veichles_path, class: 'btn btn-default btn-sm' %>
        &nbsp;
        <%= link_to fa_icon('eye'), @veichle, class: 'btn btn-default btn-sm', id: 'text-info' %>
      </span>
    </h4>
    <hr>
    <%= render 'form', veichle: @veichle %>
  </div>
</div>
