// Fonts

@font-face {
  font-family: "RobotoCondensed-Regular";
  font-style: normal;
  font-weight: 300;
  src: url("RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("RobotoCondensed-Bold.ttf") format("truetype");
}

// Colors

$white: #fff !default;
$gray-100: #f6f6f6 !default;
$gray-200: #f0f0f0 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #999 !default;
$gray-700: #555 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$blue: #158cba !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e9291f !default;
$orange: #f07109 !default;
$yellow: #ff851b !default;
$green: #1d9c22 !default;
$teal: #0d7474 !default;
$cyan: #75caeb !default;

$primary: $teal !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $indigo !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-700 !default;

// Tables

$table-bg-scale: 0% !default;

// Buttons

$btn-font-weight: 700 !default;

// Pagination

$pagination-color: $gray-700 !default;
$pagination-hover-color: $pagination-color !default;
$pagination-active-border-color: darken($primary, 5%) !default;
$pagination-disabled-color: $gray-600 !default;

// Breadcrumbs

$breadcrumb-padding-y: 0.375rem !default;
$breadcrumb-padding-x: 0.75rem !default;
$breadcrumb-border-radius: 0.25rem !default;

// Modals

$modal-content-border-color: rgba($black, 0.1) !default;

// Close

$btn-close-color: $white !default;
$btn-close-opacity: 0.4 !default;
$btn-close-hover-opacity: 1 !default;
