<div class='panel panel-default'>
    <div class='panel-body'>
        <h4>
            <%= fa_icon('building') %>&nbsp;&nbsp;NUOVA STRUTTURA MISSIONE
            <span class='pull-right'>
                <%= link_to fa_icon('arrow-left'), mission_structures_path, class: 'btn btn-default btn-sm' %>
            </span>
        </h4>
        <hr>
        <%= render 'form', mission_structure: @mission_structure %>
    </div>
</div>