<div class='panel panel-default'>
    <div class='panel-body'>
        <h4>
            <%= inline_svg('fuel_edit_icon.svg', size: '50px * 30px', preserve_aspect_ratio: 'xMaxYMax meet') %>
            &nbsp;&nbsp;
            MODIFICA LA SCHEDA CARBURANTE
            <span class='pull-right'>
                <%= link_to fa_icon('arrow-left'), fuels_path, class: 'btn btn-default btn-sm', title: 'RITORNA alla lista', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
                &nbsp;
                <%= link_to fa_icon('eye'), @fuel, class: 'btn btn-default btn-sm', id: 'text-info', title: 'DETTAGIO del record corrente', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
            </span>
        </h4>
        <hr>
        <%= render 'form', fuel: @fuel %>
    </div>
</div>
