<div class='panel panel-default'>
    <div class='panel-body'>
        <h4>
            <i class="fas fa-gas-pump"></i>&nbsp;&nbsp;MODIFICA LA SCHEDA CARBURANTE
            <span class='pull-right'>
                <%= link_to fa_icon('arrow-left'), fuels_path, class: 'btn btn-default btn-sm' %>
                &nbsp;
                <%= link_to fa_icon('eye'), @fuel, class: 'btn btn-default btn-sm', id: 'text-info' %>
            </span>
        </h4>
        <hr>
        <%= render 'form', fuel: @fuel %>
    </div>
</div>
